*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    background: url('download.png') no-repeat center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    filter: blur(30px);
}

.text {
    font-size: 30px;
    color: red;
}